.profile_container {
  background-color: hsl(246, 80%, 60%);
  height: 260px;
  width: 170px;
  border-radius: 15px;
  padding: 40px 35px;
  position: absolute;
  top: -145px;
}

.profile_img img {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
}

.profile_heading {
  margin-top: 35px;
}

.heading1 {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: hsl(236, 100%, 87%);
}

.heading2 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  margin-top: -8px;
}

.days_container {
  background-color: hsl(235, 46%, 20%);
  height: 265px;
  width: 170px;
  border-radius: 15px;
  margin-top: 150px;
  padding: 40px 35px;
}

.days_info {
  margin-top: 185px;
}

.days_info p {
  color: hsl(236, 100%, 87%);
  font-family: "Rubik", sans-serif;
}

.main_container {
  position: relative;
}

.days_info :hover {
  color: white;
  cursor: pointer;
}

.days_info p.selected {
  color: white;
}

@media (max-width: 1070px) {
  .main_container {
    margin-left: -13px;
  }

  .profile_container {
    height: 60px;
    width: 320px;
    padding: 40px 30px;
    display: flex;
    top: -60px;
  }

  .profile_img img {
    width: 55px;
    height: 55px;
    margin-left: 20px;
  }

  .profile_heading {
    margin-top: -8px;
    margin-left: 20px;
  }

  .heading1 {
    font-size: 14px;
  }

  .heading2 {
    font-size: 26px;
  }

  .days_container {
    height: 60px;
    width: 381px;
    margin-top: 0px;
    padding: 40px 0px;
  }

  .days_info {
    margin-top: 60px;
    display: flex;
  }

  .days_info p {
    margin-top: 0px;
    display: flex;
    margin-left: 58px;
  }
}

@media (max-width: 400px) {
  .main_container {
    margin-left: -13px;
  }

  .profile_container {
    height: 50px;
    width: 290px;
    padding: 40px 15px;
    display: flex;
    top: -60px;
  }

  .profile_img img {
    width: 51px;
    height: 51px;
  }

  .profile_heading {
    margin-top: -8px;
    margin-left: 15px;
  }

  .heading1 {
    font-size: 13px;
  }

  .heading2 {
    font-size: 24px;
  }

  .days_container {
    height: 48px;
    width: 320px;
    margin-top: 0px;
    padding: 40px 0px;
  }

  .days_info {
    margin-top: 60px;
    display: flex;
  }

  .days_info p {
    margin-top: -12px;
    display: flex;
    margin-left: 42px;
  }
}
