.profile_activities {
  margin-top: 280px;
}

.activity {
  width: 780px;
  margin-left: 490px;
  margin-top: -485px;
}

.set1 {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 80px 30px;
}
